.main-header {
    border-bottom: 3px solid #b75871;
    padding: 3px;
    transition: border-color 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.header-image {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .header-image {
        width: 400px;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: #fff2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    border-top: 3px solid #b75871;
}

footer a {
    color: #7a173c;
}
.main-nav {
    margin-bottom: 20px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: clamp(2.5rem, 2.5vw, 3.5rem);
    display: block;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    margin: 0 20px;
}

.main-nav a {
    display: block;
    text-decoration: none;
    color: #7a173c;
}

.main-nav a:hover {
    text-decoration: underline;
    color: #b75871;
}

.content {
    flex: 1;
    margin-top: calc(275px + 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .content {
      margin-top: calc(325px + 2rem); /* Increased for smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .content {
      margin-top: calc(375px + 2rem); /* Further increased for mobile */
    }
  }

.header-link {
    text-decoration: none;
    color: #7a173c;
}

.header-link h1:hover {
    text-decoration: underline;
    color: #b75871;
}

.logo {
    width: calc(250px - clamp(0%, 5%, 7%));
    height: auto;
    max-width: 50%;
}

.nav-and-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}