.main-header {
    border-bottom: 3px solid #7a173c;
    padding: 3px;
    transition: border-color 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff2f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 20px;
    color: #7a173c;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: #fff2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    border-top: 3px solid #b75871;
    padding: 5px;
}

.website-icon {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.website-icon:hover .icon-image {
    transform: scale(1.2);
}

.website-icon:hover .logo {
    transform: scale(1.2);
}

.icon-image {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease-in-out;
}

.logo {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease-in-out;
}

#home-icon {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

#home-icon:hover {
    transform: scale(1.1);
}

/* Style the navigation links */
.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: large;
}
  
.main-nav li {
    display: inline;
    margin-right: 20px;
}

.main-nav a {
    text-decoration: none;
    color: #7a173c;
    transition: text-decoration 0.3s ease-in-out;
}

/* Underline text on hover */
.main-nav a:hover {
    text-decoration: underline;
    color: #b75871;
}

.content {
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}s


.header-link {
    text-decoration: none;
    color: #7a173c;
}

.header-link h1:hover {
    text-decoration: underline;
    color: #b75871;
}

/* Picture Styling */
.picture {
    align-self: center;
    border: black;
    margin: 5px;
}

.gallery-image {
    display: block; /* Ensures it behaves properly in layout */
    margin: 20px auto; 
    width: clamp(300px, 50vw, 700px);
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}